@keyframes borderAnimation {
  0% {
    border-color: transparent;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    border-color: #111827;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

.animated-border {
  border: 2px solid transparent;
  animation: borderAnimation 1s ease-in-out forwards;
}

.start-border-animation {
  animation-play-state: running;
}
